body {
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif; 
	font-size: 10pt;
	background-color: Silver;
	}
 
td {
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif; 
	font-size: 10pt;
	} 

h1 {
	color: #663399; 
	font-size: 19pt;
	font-weight: bold;
	} 
